<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="main.js"></script>
<body ng-app="app" ng-controller="ctrl" ng-cloak>
	<div homepage></div>
	<div class="dynamicPageOne" ng-click="prevPage($event)">
		<div id="contentLiner">
			<div id="content"></div>
		</div>
	</div>

	<!-- used for testing pages -->
	<div id="dynamicPageTwo" ng-click="prevPage($event)">
		<div id="contentLiner">
			<div id="content">
				<div id="innerLiner">
					<h2>MEMBER'S CLUB</h2>
					<div class="links">Members only events</div>
					<div class="links">Membership options</div>
					<div class="links">Red flag app for dating events</div>
					<div class="imgLinkHolder">
						<div class="linkImgHolder">
							<div><span>Club Card</span></div>
							<div class="imgLinks">
								<img class="img" src="img1.jpg">
							</div>
						</div>
						
						<div class="linkImgHolder">
							<div class="imgHeader"><span>Red Flag App</span></div>
							<div class="imgLinks">
								<img class="img" src="img2.jpg">
							</div>
						</div>
						
						<div class="linkImgHolder">
							<div class="imgHeader"><span>Marchandise</span></div>
							<div class="imgLinks">
								<img class="img" src="img3.jpg">
							</div>
						</div>

						<div class="linkImgHolder">
							<div class="imgHeader"><span>Events</span></div>
							<div class="imgLinks">
								<img class="img" src="img1.jpg">
							</div>
						</div>
						
						<div class="linkImgHolder">
							<div class="imgHeader"><span>Member of the Month</span></div>
							<div class="imgLinks">
								<img class="img" src="img2.jpg">
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>