<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sonsie+One" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="main.js"></script>
<body ng-app="app" ng-controller="ctrl" ng-cloak>
	<div homepage></div>
	<div class="dynamicPageOne" ng-click="prevPage($event)">
		<div id="contentLiner">
			<div id="content"></div>
		</div>
	</div>

	<!-- used for testing pages -->
	<div id="dynamicPageTwo" ng-click="prevPage($event)">
		<div id="contentLiner">
			<div id="content">
				<div id="innerLiner">
					<div class="links contactPageLinks">
						<span>Job Opportunities</span> <hr>
						<div>
							<span>Event Host</span>
						</div>
					</div>
					<div class="links contactPageLinks">
						<span>Internships</span> <hr>
						<div>
							<span>Applications Developer</span>
						</div>
					</div>
					<div class="links contactPageLinks">
						<span>Guest Instructor Opportunities</span> <hr>
						<div>
							<span>Dance</span> <br>
							<span>Fitness</span> <br>
							<span>Art</span> <br>
							<span>Cooking</span> <br>
							<span>etc..</span>
						</div>
					</div>
					<div class="links contactPageLinks">
						Local Business Partnerships <hr>
						<div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>