[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    background-image: url(philly2.jpg);
    background-repeat: no-repeat;
    background-size: 115vw 89vh;
    background-position: -140px 106px;
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

.dynamicPageOne,
#dynamicPageTwo {
	display: none;
	height: 100vh;
	opacity: 0.96;
	position: absolute;
	top: 0;
	width: 100%;
}

#contentLiner {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}

#innerLiner {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0px;
}

#content {
	display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3.4em;
    height: 84vh;
    justify-content: center;
    overflow: scroll;
    position: relative;
    width: 80%;
}

#container {
	position: relative;
	width: 100%;
}

.nameBar,
.mainMenuOption {
	align-items: center;
	box-shadow: 0px 3px 49px -8px rgba(0,0,0,1);
    display: flex;
    font-size: 3.6em;
    height: 20vh;
    justify-content: center;
    opacity: 0.9;
    position: relative;
    width: 100vw;
}

.nameBar {
	background-color: #FF00E1;
	font-family: 'Anton', sans-serif;
	font-size: 4.8em;
	z-index: 5;
}

#upcoming {
	background-color: #DA00FF;
	z-index: 4;
}

#previous {
	background-color: #8000FF;
	z-index: 3;
}

#membership {
	background-color: #2500FF;
	z-index: 2;
}

#contact {
	background-color: #008FFF;
	z-index: 1;
}

h1 {
	font-size: 4em;
	color: black;
	z-index: 1;
}

.links {
	background-color: #1801A8;
    border-radius: 24px;
    box-shadow: 0px 19px 18px -9px rgba(0,0,0,0.75);
    padding: 1em;
	margin-top: 1em;
	text-align: center;
}

.imgLinkHolder {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.2em;
}

.linkImgHolder {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 8.6em;
	justify-content: flex-start;
	position: relative;
	margin-top: 1em;
}

.imgLinks {
	align-items: flex-end;
	border-radius: 16px;
	display: flex;
    height: 6em;
    width: 6em;
}

.img {
    border: .2em solid #1801A8;
    border-radius: 30px;
    box-shadow: 0px 19px 18px -9px rgba(0,0,0,0.75);
    height: 6em;
    margin-top: 0.5em;
    width: 6em;
}

.imgHeader {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 0.32em;
	width: 6em;
}

.checkmarkliner {
    align-items: flex-end;
    display: flex;
    height: 5.5em;
    position: absolute;
    top: 0px;
    width: 5em;
    opacity: 0.8;
}

.checkmarkliner div {
    align-items: center;
    background-color: green;
    border-radius: 200px;
    display: flex;
    height: 2.3em;
    justify-content: center;
    margin-bottom: -0.2em;
    width: 2.3em;   
}

.checkmarkliner div span {
	font-size: 2em;
}