[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    background-image: url(philly2.jpg);
    background-repeat: no-repeat;
    background-size: 115vw 89vh;
    background-position: -140px 106px;
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

#container {
	width: 100%;
}

.nameBar,
.mainMenuOption {
	align-items: center;
	box-shadow: 0px 3px 49px -8px rgba(0,0,0,1);
    display: flex;
    font-size: 3.6em;
    height: 20vh;
    justify-content: center;
    opacity: 0.9;
    position: relative;
    width: 100vw;
}

.nameBar {
	background-color: #FF72E5;
	font-family: 'Anton', sans-serif;
	font-size: 4.8em;
	z-index: 4;
}

#upcoming {
	background-color: #DD0072;
	z-index: 3;
}

#previous {
	background-color: #C400BE;
	z-index: 2;
}

#membership {
	background-color: #830054;
	z-index: 1;
}

#contact {
	background-color: #5C0638;
}
